body {
  background-image: url("puppy.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat:no-repeat;
  color: white;
  margin: 0;
  padding: 0;
}
#navbar {
  background-color: #FFFFFFDD;
  height: 100px;
  box-shadow: 0px 2px 5px #00000055;
}
#paw {
  position: relative;
  top: 7px;
  height: 50px;
  width: auto;
  margin-right: 25px;
  opacity: 65%;
}
.heading {
  border: 10px solid white;
  width: 60%;
  text-align: center;
  font-size: 60pt;
  color: white;
  margin-top: 200px;
  margin-left: 15%;
  padding: 35px;
  text-shadow: -1px 1px 5px #00000088;
  box-shadow: -1px 1px 5px #00000055;
}

p {
  font-size: 1.5em;
  font-family: Roboto Slab;
  letter-spacing: 1px;
  margin: 0;
  padding: 10px;
}

#content {
  background-color:#55555577;
  padding: 10%;
  margin-top: 200px;
}

#title {
  position: relative;
  text-align: center;
  font-weight: 800;
  font-size: 3em;
  color: #555555;
  top: 4px;
}